<style>
h1 {
font-family: "Arial Black";
font-size: 150px;
color: red;
}

h2 {
font-family: "Tahoma";
font-size: 50px;
}

.list_head {
font-family: "Tahoma";
font-size: 20px;
}

.one{
display: inline-block;
border: 2px solid black;
vertical-align: top;
padding-left: 15px;
padding-right: 15px;
background-color: #99ccff;
}
</style>

<script>
function hide(x) {
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
} 

</script>

<h1 onclick="hide(this) "font="Times">DJANGO SUCKS</h1>
<h2>RAMS REWARDS SITE</h2>
<h3>All Activities:</h3>
{% if activity_list %}
    <ul>
    {% for activity in activity_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_score}}<a> </a>Points
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Activities</p>
{% endif %}
<div>

<div>
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">One Time Activities:</p>
{% if onetime_list %}
    <ul id="onetime">
    {% for activity in onetime_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_score}}<a> </a>Points<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No One Time Activities</p>
{% endif %}
</div>

<div class="one">
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">Upcoming Activities</p>
{% if upcoming_list %}
    <ul id="upcoming">
    {% for activity in upcoming_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Upcoming Activities</p>
{% endif %}
</div>

<div class="one">
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">Past Activities</p>
{% if past_list %}
    <ul id="past">
    {% for activity in past_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Past Activities</p>
{% endif %}
</div>

</div>
<br>
<img src="https://camo.githubusercontent.com/682557443720cb4a0c551bb952b43e9171b3b152/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3530393533383431323837373937313436382f3531323434383030353830373237363033322f6e61676973615f646a616e676f2e676966" alt="Django Daikazoku">