<style>
p {
display: inline;
}

.name {
font-weight: bold;
}
</style>

{% extends "Radmins/header.html" %}
{% block content %}
	<h3>Students <span class="glyphicon glyphicon-user"></span></h3>
	<br/> 
	{% for student in object_list %}
		{% if student.student_score > 100 %}
			<h5><p class='name'>{{ student.student_name }}</p><p> - Grade {{ student.student_grade }}</p><pre> {{ student.student_score }} Points   <span style="color:#3333DF" class="glyphicon glyphicon-thumbs-up"></span></pre></h5>
		{% elif student.student_score == 1 %}
			<!-- lol try harder next time buddy -->
			<h5><p class='name'>{{ student.student_name }}</p><p> - Grade {{ student.student_grade }}</p><pre> {{ student.student_score }} Point   <span style="color:#9E9E9E" class="glyphicon glyphicon-trash"></span></pre></h5>
		{% else %}
			<h5><p class='name'>{{ student.student_name }}</p><p> - Grade {{ student.student_grade }}</p><pre> {{ student.student_score }} Points   <span style="color:#F21818" class="glyphicon glyphicon-thumbs-down"></span></pre></h5>
		{% endif %}
	{% endfor %}
{% endblock %}

<!-- hey chenfeng just wanted to say i did some sketchy stuff here and 
added <pre></pre> stuff around ur student score and idk what it does but 
it made boxes surround them or something which looks kind of cool
i messed around with other stuff too as im sure u can tell :')

pls feel free to delete all that or change it or something lol --> 
