{% extends "Radmins/header.html" %}

{% block content %}
    <h1>Hello Radmins! <span class="glyphicon glyphicon-apple"></span></h1>
    <br>
    <p><big>You'll be using this website to view the list of reward activities along with each activity's point value, date, and time.</big></p>
    <p><big>BUT WAIT! You can also check out the points that each student has accumulated from these activities AND which grade they're in!</big></p>
    <p><big>To manage student accounts and to create more activities, please head on over to the admin site:</big></p>
    <br>
    <a href="admin/"><button type="button" class="btn btn-info">ADMIN WEBSITE <span style="font-size: 13px" class="glyphicon glyphicon-link"></button></a>
    <br><br><br><br>
    
    <h3>Reminders: <span class="glyphicon glyphicon-pushpin"></span></h3>
    <br>
    <p><big>• Ensure all students are wearing proper uniform</big></p>
    <p><big>• All students are to have their jackets in their lockers or out of sight</big></p>
    <p><big>• Students are not allowed earbuds/earphones/headphones while walking in the hallways</big></p>
    <p><big>• Exams begin on Friday January 25th</big></p>
    <p><big>• Secret Staff party on the 31st!</big></p>
{% endblock %}