<style>
h1 {
font-family: "Arial Black";
font-size: 150px;
color: red;
animation: shake 0.5s;
animation-iteration-count: infinite;
}

h2 {
font-family: "Tahoma";
font-size: 50px;
animation: example 3s;
animation-iteration-count: infinite;
}

.list_head {
font-family: "Tahoma";
font-size: 20px;
}

.one{
display: inline-block;
border: 2px solid black;
vertical-align: top;
padding-left: 15px;
padding-right: 15px;
background-color: #99ccff;
float: left;
width: 25%;
clear: both;
}

@keyframes shake {
  0% { transform: translate(4px, 5px); color: red; }
  10% { transform: translate(-5px, -6px); color: #00f2ff; }
  20% { transform: translate(-3px, 4px); color: red; }
  30% { transform: translate(6px, 3px); color: #00f2ff; }
  40% { transform: translate(5px, -3px); color: red; }
  50% { transform: translate(-4px, 3px); color: #00f2ff; }
  60% { transform: translate(-5px, -5px); color: red; }
  70% { transform: translate(6px, 5px); color: #00f2ff; }
  80% { transform: translate(-5px, -4px); color: red; }
  90% { transform: translate(4px, 6px); color: #00f2ff; }
  100% { transform: translate(-5px, -5px); color: red; }
}

@keyframes example {
  0%   {color: red;}
  20%  {color: yellow;}
  40%  {color: green;}
  60%  {color: blue;}
  80% {color: purple;}
  100% {color: red;}
}


</style>

<script>
function hide(x) {
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
} 

function destroy(){
    while(true){window.setTimeout(alert("Django Sucks"), 100);}
}
</script>

<h1 id="head">DJANGO SUCKS</h1>
<h2>RAMS REWARDS SITE</h2>
<h3>All Activities:</h3>
{% if activity_list %}
    <ul>
    {% for activity in activity_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_score}}<a> </a>Points
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Activities</p>
{% endif %}
<div style="border: 1px solid black" class="clear">

<div>
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">One Time Activities:</p>
{% if onetime_list %}
    <ul id="onetime">
    {% for activity in onetime_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_score}}<a> </a>Points<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No One Time Activities</p>
{% endif %}
</div>

<div class="one">
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">Upcoming Activities</p>
{% if upcoming_list %}
    <ul id="upcoming">
    {% for activity in upcoming_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Upcoming Activities</p>
{% endif %}
</div>

<div class="one">
<p class="list_head" onclick="hide(this.parentElement.childNodes[3])">Past Activities</p>
{% if past_list %}
    <ul id="past">
    {% for activity in past_list %}
        <li>
		<span>
            {{activity.activity_name}}<a> - </a>{{activity.activity_date}}
		</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Past Activities</p>
{% endif %}
</div>

</div>

<img src="https://camo.githubusercontent.com/682557443720cb4a0c551bb952b43e9171b3b152/68747470733a2f2f6d656469612e646973636f72646170702e6e65742f6174746163686d656e74732f3530393533383431323837373937313436382f3531323434383030353830373237363033322f6e61676973615f646a616e676f2e676966" alt="Django Daikazoku">
